root=true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.{js,ts,jsx,tsx,json}]
indent_style = space
indent_size = 2

[*.{py,sage}]
indent_style = space
indent_size = 4

[*.{go}]
indent_style = tab
indent_size = 8
