root=true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.{js,ts,jsx,tsx,json,yaml}]
indent_style = space
indent_size = 2

[*.{py,sage,ipynb}]
indent_style = space
indent_size = 4

[*.{rs,toml}]
indent_style = space
indent_size = 4

[*.{sol,t.sol,huff}]
indent_style = space
indent_size = 4

[*.{go}]
indent_style = tab
indent_size = 8
